@if (service.settings.hasValue()) {
<form class="flex flex-col gap-4" [formGroup]="form" (ngSubmit)="save()">
  <label class="flex items-center gap-2 text-sm" for="set-online">
    <input id="set-online" type="checkbox" formControlName="onlineRates" />
    {{ 'settings.fields.onlineRates' | translate }}
  </label>
  <!-- Provider keys (CoinGecko, CoinMarketCap) live in their row of "Kursanbieter". -->
  @if (!embedded()) {
  <div class="flex flex-wrap justify-end gap-2">
    <button
      hlmBtn
      type="submit"
      [disabled]="service.isSaving() || form.pristine"
    >
      {{ 'common.save' | translate }}
    </button>
  </div>
  }
</form>
}
